.pageContainer{
	overflow-x: hidden; 
  width: 100%;
}

.mainSection {
  width: 100vw;
  height: 100vh;
  background-image: url("/main_page.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.mainSection h1 {
  font-size: 4rem; 
  margin-bottom: 20px;
  font-weight: bold;
}

.mainSection p {
  font-size: 1.5rem;
  max-width: 900px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.mainButton {
  background-color: #007bff; 
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px; 
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mainButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}

.mainButton:active {
  transform: translateY(0);
  background-color: #004085;
}

.infoSection {
  padding: 80px 20px;
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
}

.infoSection h2 {
  font-size: 2.8rem;
  margin-bottom: 60px;
  color: #343a40;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.featureItem {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
	overflow: hidden;
	transition: box-shadow 0.3s ease, transform 0.2s ease;
	cursor: pointer;
	height: 100%;
}

.featureItem:hover{
	transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

.featureLink {
	text-decoration: none; 
	color: inherit;
	display: block;
}

.featureItem h3 {
  font-size: 1.9rem;
  color: #007bff;
  margin-bottom: 15px;
}

.featureItem p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.callToActionSection {
  padding: 60px 20px;
  background-color: #e9ecef;
  color: #495057;
  text-align: center;
}

.callToActionSection h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.callToActionSection p {
	font-size: 1.2rem;
	margin-bottom: 25px;
}